{% extends "base.html.twig" %}

{% block title "Bienvenue sur notre site de location de voitures" %}

{% block stylesheets %}
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: #f8f9fa;
    }

    .hero-section {
      width: 100%;
      height: 300px;
      background-image: url('https://resources.turo.com/f/253489/768x400/cee1a6ec9c/2309_hp_fr_768x400.jpg');
      background-size: cover;
      background-position: center;
      text-align: center;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .search-section {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      margin-top: -100px;
      margin-bottom: 20px;
      margin-left: 200px;
      margin-right: 200px;
    }

    .search-bar form {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .search-bar input[type="datetime-local"] {
      width: 45%;
      padding: 10px;
      margin-right: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .search-bar button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 0px !important;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .card {
      width: 30%;
      margin-bottom: 20px;
      padding: 0px;
    }

    @media (max-width: 768px) {
      .card {
        width: 100%;
      }
    }
  </style>
{% endblock %}

{% block body %}
  <div class="hero-section">
    <h1>Bienvenue sur notre site de location de voitures</h1>
  </div>

  <div class="container">
    <div class="search-section">
      <div class="search-bar">
        <form action="{{ path('app_search') }}" method="get">
          <input type="datetime-local" id="DATE_DEBUT" name="start_date" value="{{ start_date|default("now"|date('d/m/Y H:i')) }}" min="{{ "now"|date('d/m/Y H:i:s') }}" required>
          <input type="datetime-local" id="DATE_FIN" name="end_date" value="{{ end_date|default("now"|date('d/m/Y H:i')) }}" required>
          <button type="submit" class="btn btn-primary mt-2">Rechercher</button>
        </form>    
      </div>
    </div>

    <h1 class="text-center">Nos véhicules de location</h1>

    <div class="row">
      {% for vehicule in voitures %}
        <div class="card">
          <img src="{{ vehicule.photo }}" style="width: 100%;" alt="{{ vehicule.titre }}">
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
