{% extends "base.html.twig" %}

{% block stylesheets %}
<style>
    .sidebar{
        position: -webkit-sticky;
        position: sticky;
        top : 0;
        align-self: flex-start;
    }
</style>
{% endblock %}

{% block title "Gestion des Commandes" %}

{% block body %}

    <div class="row">
        <div class="col-2 sidebar" >
            {{ include('./back/sidebar.html.twig') }}
        </div>
        <div class="col-10">

            <div class="container mt-5">
                <h1 class="text-center">Gestion des Commandes</h1>                
                <div class="row mt-4">
                    <table class="table table-striped align-middle">
                        <thead>
                            <tr>
                                <th>Id Commande</th>
                                <th>Nom Prénom</th>
                                <th>Véhicule</th>
                                <th>Prix Total</th>
                                <th>Date et heure de début</th>
                                <th>Date et heure de fin</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for commande in commandes %}
                                <tr>
                                    <td>{{ commande.idCommande }}</td>
                                    {% set membreAssocie = membres|filter(m => m.idMembre == commande.idMembre)|first %}
                                    <td>{{ membreAssocie.nom }} {{ membreAssocie.prenom }}</td>
                                    {% set vehiculeAssocie = vehicules|filter(v => v.idVehicule == commande.idVehicule)|first %}
                                    <td>{{ vehiculeAssocie.titre }}</td>
                                    <td>{{ commande.prixTotal }}€</td>
                                    <td>{{ commande.dateHeureDepart | date("d/m/Y H:i") }}</td>
                                    <td>{{ commande.dateHeureFin | date("d/m/Y H:i") }}</td>
                                    <td>
                                        <a href="{{ path('commande_update' , {id : commande.idCommande} )}}" class="btn btn-warning me-3"> Modifier </a>
                                        <a href="{{ path('commande_delete' , {id : commande.idCommande}) }}" class="btn btn-danger"> supprimer </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
