{% extends "base.html.twig" %}

{% block stylesheets %}
<style>
    .sidebar{
        position: -webkit-sticky;
        position: sticky;
        top : 0;
        align-self: flex-start;
    }
</style>
{% endblock %}

{% block title "Gestion des membres" %}

{% block body %}

    <div class="row">
        <div class="col-2 sidebar" >
            {{ include('./back/sidebar.html.twig') }}
        </div>
        <div class="col-10">

            <div class="container mt-5">
                <h1 class="text-center">Gestion des membres</h1>

                <a href="{{ path('membre_new') }}" class="btn btn-success">Nouveau Membre</a>

                
                <div class="row mt-4">
                    <table class="table table-striped align-middle">
                        <thead>
                            <tr>
                                <th>Pseudo</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>Civilité</th>
                                <th>Role</th>
                                <th>Date d'enregistrement</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for membre in membres %}
                                <tr>
                                    <td>{{ membre.username }}</td>
                                    <td>{{ membre.nom }}</td>
                                    <td>{{ membre.prenom }}</td>
                                    <td>{{ membre.email }}</td>
                                    <td>
                                        {% if membre.civilite == 1 %}
                                            Homme
                                        {% else %}
                                            Femme
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if membre.statut == 'ROLE_ADMIN' %}
                                            Admin
                                        {% else %}
                                            Utilisteur
                                        {% endif %}
                                    </td>
                                    <td>{{ membre.dateEnregistrement | date("d/m/Y H:i:s") }}</td>
                                    <td>
                                        <a href="{{ path('membre_update' , {id : membre.idMembre} )}}" class="btn btn-warning me-3"> Modifier </a>
                                        <a href="{{ path('membre_delete' , {id : membre.idMembre}) }}" class="btn btn-danger"> supprimer </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
