{% extends 'base.html.twig' %}

{% block title "Ajouter un nouvel article" %}

{% block bodyback %}

<h1>{{ title }}</h1>

{{ form_start(form) }}
    <div class="row">
        <div class="col-6 mb-3">
            {{ form_row(form.titre , {'label':' titre du véhicule' }) }}
        </div>
        <div class="col-6 mb-3">
            {{ form_row(form.marque) }}
        </div>
        <div class="col-4 mb-3">
            {{ form_label(form.modele, 'Modèle') }}
        </div>
        <div class="col-4 mb-3">
            {{ form_row(form.description , {'label':'description'}) }}
        </div>
        <div class="col-4 mb-3">
            {{ form_row(form.prix_journalier ) }}
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary btn-lg" value="{{btn}}">
        </div>
    </div>

{{ form_end(form) }}<!-- </form> -->

{% endblock %}